* {
  box-sizing: border-box;
  font-family: Ubuntu, sans-serif;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
   background: url(../images/space.jpg) no-repeat;
}

#datetime {
  height:40px;
}

#filter-btn {
  position: relative;
  float: right;
  height: 40px;
  top: -40px;
}

#filters {
  margin-top: 16px;
}

#table-area {
  background-color: #4e5d6c;
  color: white;
}

.table {
  color: white;
  table-layout: auto;
}

#search-table {
  padding-left: 0px;
  padding-right: 0px;
}